html {
  overflow: hidden;
}

#loading {
  text-align: center;
  display:block;
  position:absolute;
  top:50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -50px;
}

#progress-container {
  background: rgba(100, 100, 100, 0.1);
}

#progress-bar {
  position: relative;
  width: 1%;
  height: 20px;
  background: rgba(200, 200, 200, 0.4);
}

#progress-filename {
  margin-top: 10px;
  height: 20px;
}

#oort {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black
}

#show-overlay {
  display:block;
  position:fixed;
  top:0;
  left:0;
  font-size: 20px;
  display: none;
  padding: 10px;
  background: rgba(100, 100, 100, 0.1);
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.6);
  cursor: pointer;
}

#show-overlay:hover {
  background: rgba(100, 100, 100, 0.2);
}

#overlay {
  display:none;
  position:fixed;
  top:0;
  left:0;
  height:100%;
}

#menu {
  display:block;
  position:fixed;
  width:200px;
  height:100%;
  background: rgba(100, 100, 100, 0.4);
  border-right-style: solid;
  border-width: 1px;
  border-color: rgba(50, 50, 50, 0.6);
}

#menu h1 {
  color: rgb(200, 200, 200);
  margin-top: 30px;
  margin-left: 30px;
}

#menu ol {
  list-style-type: none;
  margin-left: 0px;
}

#menu ol li {
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#menu ol li:hover {
  background: rgba(100, 100, 100, 0.6);
}
